body {
    font-family: Arial;
    text-align: center;
    background: #eee;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: 0;
}

.board {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.board > div {
    background: white;
    width: 250px;
    min-height: 250px;
    padding: 15px;
    border-radius: 10px;
}

.task {
    background: #ddd;
    padding: 10px;
    margin: 10px;
}
